$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-dm-bg: hsl(209, 23%, 22%);
$very-dark-blue-lm-text: hsl(200, 15%, 8%);
$dark-gray-lm-input: hsl(0, 0%, 52%);
$very-light-gray-lm-bg: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
