
.all-countries-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  margin-top: 25px;
  width: 343px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;

  svg {
    margin-left: 25px;
  }

  input {
    height: 48px;
    margin-left: 30px;
    border: none;
    font-size: 0.875rem;
    border-radius: 5px;
  }

  input:focus {
    outline: none;
  }
}

.dropdown-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-width: 343px;
  width: 100%;
  height: fit-content;
  position: relative;

  .dropdown {
    justify-self: left;
    width: 200px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px;
  }

  .dropdown-menu {
    position: absolute;
    top: 55px;
    width: 200px;
    border-radius: 5px;

    div {
      padding: 10px;
      align-items: center;
    }

    p {
      line-height: 16px;
    }
  }

  .hidden {
    display: none;
    transition: all 0.2s;
  }
}

@media (min-width: 1300px) {
  .all-countries-view {
    padding: 0 78px 0 78px;
    margin: 0 auto;
  }
  .desktop-search-filter-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;

    .search,
    input {
      width: 480px;
      height: 56px;
    }

    .dropdown-container {
      height: 56px;
      width: fit-content;

      .dropdown {
        padding: 29px 10px;
      }

      .dropdown-menu {
        top: 65px;
      }
    }
  }
  .desktop-card-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 78px;
  }
}
